:root {
  /* text colors  */

  --dark-gray-main: rgb(32, 38, 40);
  --light-gray-main: rgb(63, 74, 78);

  /* component colors */

  --deep-pink: #e73a8eff;
  --vanilla: rgb(245, 240, 190);
  --hookers-green: rgb(192, 192, 192);
  --space-cadet: #131b45ff;
  --amaranth: rgb(198, 69, 110);
}

.page-container {
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  height: 100vh;
  min-width: 100%;
}

.left-container {
  display: inline-block;
  position: absolute;
  right: 55%;
  top: 9%;
  min-width: fit-content;
  margin: 0;
  width: 20%;
  overflow: hidden;
  padding: 0.45rem;
  background-color: var(--hookers-green);
  outline: 5px solid gray;
  outline-style: outset;
  border: 2px solid gray;
  z-index: 1;
}

.right-container {
  display: inline-block;
  position: absolute;
  margin: 0;
  width: 20%;
  left: 55%;
  top: 10%;
  min-width: fit-content;
  padding: 0.45rem;
  align-items: center;
  background-color: var(--hookers-green);
  outline: 5px solid gray;
  outline-style: outset;
  border: 2px solid gray;
  z-index: 1;
}

.left-container-hidden {
  visibility: hidden;
}

.right-container-hidden {
  visibility: hidden;
}

.window-header {
  border: 1px solid gray;
  outline: 2px gray;
  outline-style: outset;
  background-color: var(--vanilla);
  cursor: grab;
  position: relative;
  right: 1rem;
  left: 2rem;
  opacity: 0.7;
  width: 89%;
}

.xButton {
  position: absolute;
  left: 5px;
  top: 5px;
  background-color: var(--hookers-green);
  font-size: large;
}

.xButton:hover {
  background-color: var(--amaranth);
  color: var(--vanilla);
}

h1 {
  color: var(--space-cadet);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.gif {
  height: 44.6rem;
  margin: 1rem 1rem 1rem 2rem;
  border: 2px solid var(--dark-gray-main);
}

.link-button {
  width: 26rem;
  height: fit-content;
  margin: 2px;
  background-color: var(--deep-pink);
  cursor: pointer;
}

.link-button:hover {
  background-color: var(--amaranth);
}

svg {
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  color: var(--vanilla);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 0;
  text-align: center;
  background-color: var(--hookers-green);
  opacity: 60%;
}

footer * {
  display: inline-block; /* Makes the child elements inline */
  vertical-align: middle;
}

@media (min-width: 1450px) {
  .right-container {
    margin-left: 8rem;
  }
  .left-container {
    margin-right: 8rem;
  }
}

@media (max-width: 1100px) {
  .link-button {
    width: 28.25rem;
  }
  .window-header.right {
    width: 164%;
    right: 4rem;
  }

  .right-container {
    top: 92%;
    left: 28%;
  }

  .left-container {
    top: 3%;
    left: 28%;
  }
}

@media (max-width: 570px) {
  body {
    padding-top: 1rem;
  }

  .page-container {
    width: 100%;
    margin-top: 3%;
  }

  svg {
    height: 2rem;
    width: auto;
  }

  .gif {
    height: 30rem;
    width: auto;
  }

  .right-container {
    top: 92%;
    left: 28%;
  }

  .left-container {
    top: 3%;
    left: 28%;
  }

  .link-button {
    width: 20rem;
  }
}

/* TODO fix wrap on mobile view */
