:root {
  /* text colors  */

  --dark-gray-main: rgb(32, 38, 40);
  --light-gray-main: rgb(63, 74, 78);

  /* component colors */

  --deep-pink: #e73a8eff;
  --vanilla: rgb(245, 240, 190);
  --hookers-green: rgb(192, 192, 192);
  --space-cadet: #131b45ff;
  --amaranth: rgb(198, 69, 110);
}

body {
  padding-top: 3rem;
  background-image: url(assets/bliss-background.png);
}

.page-container {
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  min-width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.left-container {
  width: 20%;
  min-width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  overflow: hidden;
  padding: 0.45rem;
  background-color: var(--hookers-green);
  outline: 5px solid gray;
  outline-style: outset;
  border: 2px solid gray;
  flex-grow: 0;
}

.right-container {
  width: 20%;
  margin: 0 auto;
  min-width: fit-content;
  padding: 0.45rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: var(--hookers-green);
  outline: 5px solid gray;
  outline-style: outset;
  border: 2px solid gray;
  flex-grow: 0;
}

.left-container-hidden {
  visibility: hidden;
  flex-grow: 0.582;
}

.right-container-hidden {
  visibility: hidden;
  flex-grow: 0.582;
}

.window-header {
  border: 1px solid gray;
  outline: 2px gray;
  outline-style: outset;
  background-color: var(--vanilla);
  cursor: grab;
  position: relative;
  right: 7.5rem;
  opacity: 0.7;
  width: 263%;
}

.window-header.right {
  width: 151%;
  right: 3.1rem;
}

.xButton {
  position: absolute;
  left: 5px;
  top: 5px;
  background-color: var(--hookers-green);
  font-size: large;
}

.xButton:hover {
  background-color: var(--amaranth);
  color: var(--vanilla);
}

h1 {
  color: var(--space-cadet);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.gif {
  height: 45rem;
  width: 90%;
  margin: 1rem 1rem 1rem 2rem;
  border: 2px solid var(--dark-gray-main);
}

.link-button {
  width: 26rem;
  height: fit-content;
  margin: 2px;
  background-color: var(--deep-pink);
  cursor: pointer;
}

.link-button:hover {
  background-color: var(--amaranth);
}

svg {
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  color: var(--vanilla);
}

@media (min-width: 1450px) {
  .right-container {
    margin-left: 8rem;
  }
  .left-container {
    margin-right: 8rem;
  }
}

@media (max-width: 930px) {
  .link-button {
    width: 28.25rem;
  }
  .window-header.right {
    width: 164%;
    right: 4rem;
  }
  .right-container {
    margin: 1rem auto;
  }
}

@media (max-width: 570px) {
  body {
    padding-top: 1rem;
  }

  .page-container {
    height: 100%;
    width: 100%;
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  svg {
    height: 2rem;
    width: auto;
  }

  .gif {
    height: 30rem;
    width: auto;
  }

  .left-container {
    margin: 2rem;
    width: auto;
  }

  .window-header {
    right: 3.1rem;
    width: 173%;
  }

  .window-header.right {
    width: 112.5%;
    right: 0;
  }

  .link-button {
    width: 20rem;
  }
}
